<div class="row">
  <div class="col-md-4">
    <h2>Project Tasks</h2>
    <div class="foreground-layer">
    <a (click)="showModal()">  <img src="assets/images/plus.png" width="50" /></a>
    </div>
      <div *ngIf="task; else elseBlock" class = "container">
      <div *ngFor="let item of task;let i=index;" class="row">
        <div class="jumbotron">
          <h1>{{item.name}}</h1>
          <p>{{item.description}}</p>
          <a [routerLink]="[burl,item.id]" class="btn btn-primary">Edit Task</a>
        </div>
      </div>
      </div>
      <ng-template #elseBlock><h2>No Tasks</h2></ng-template>
  </div>
  <div class="col-md-8">
    <div class="container">
      <div class="jumbotron">
        <h1 style = "text-align:center;">{{projectdetail?.name}}</h1>
        <div class="panel panel-primary">
          <div class="panel-heading">Project Details</div>
          <div class="panel-body">
            <h3>{{projectdetail?.description}}</h3>
          </div>
        </div>
      </div>

      <form class="log-form-layout" (ngSubmit)="firstRegistrationForm.valid && saveProjectDetails()" #firstRegistrationForm="ngForm">
        <div class='form-group'>
          <label class="m-lab">Name</label>
          <input type="text" class="form-control m-f-c-mod" autocomplete="false" name="name" #projectName="ngModel" [(ngModel)]="projectdetail.name" >
          <label class="m-lab">Duration( In Days )</label>
          <input type="text" class="form-control m-f-c-mod" autocomplete="false" name="duration" #projectDuration="ngModel" [(ngModel)]="projectdetail.duration" >
          <label for="comment">Description</label>
          <textarea class="form-control" name = "description" #projectDescription="ngModel" [(ngModel)]="projectdetail.description"  rows="5" id="comment"></textarea>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
          <div class="col-md-12 text-center">
            <a class="skip-btn float-left" (click)="skipp()">Cancel</a>

            <button class="btn btn-success btn-sm float-right" type="submit">
              <i class="fas fa-check-circle"></i>&nbsp;&nbsp;Save</button>
          </div>
        </div>
      </form>
      <button style="margin-left:42%;" class="btn btn-danger" (click)=delete()>
        <i class="fas" ></i>&nbsp;&nbsp;Delete</button>
    </div>
  </div>

</div>
<!-- Modal -->
<div bsModal #taskchildModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-custom">
    <div class="modal-content">
      <div class="modal-head">
        <button type="button" class="close pull-right" (click)="hideChildModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="text-center">
        <h4 class="modal-title t-color text-primary">New Task</h4>
        <p class="mb-18">Create a new Task</p>
        <hr>
      </div>
      <form class="log-form-layout" (ngSubmit)="taskform.valid && saveTaskDetails()" #taskform="ngForm">
          <div class="row">
            <div class="modal-body">
            <div class="col-sm-3">
              <div class="inputBox-mod">
                <input type="text" class="form-control m-f-c-mod" autocomplete="false" name="name" #taskName="ngModel" [(ngModel)]="taskdetails.name" >
                <label class="m-lab">Name</label>
              </div>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="modal-body">
            <div class="col-sm-3">
              <div class="inputBox-mod">
                <input type="text" class="form-control m-f-c-mod" autocomplete="false" name="duration" #taskName="ngModel" [(ngModel)]="taskdetails.duration" >
                <label class="m-lab">Duration</label>
              </div>
            </div>
          </div>
          </div>
          <!-- <div class="row">
            <div class="modal-body">
            <div class="col-sm-3">
              <div class="inputBox-mod">
                <input type="text" class="form-control m-f-c-mod" autocomplete="false" name="duration" #taskDuration="ngModel" [(ngModel)]="taskdetails.duration" >
                <label class="m-lab">Duration( In Days )</label>
              </div>
            </div>
          </div>
          </div> -->
          <!-- <div class="row">
            <div class="col-sm-6">
              <div class="inputBox-mod">
                <input type="text" class="form-control m-f-c-mod" autocomplete="false" name="projectDescription" #projectDescription="ngModel" [(ngModel)]="projectDescription"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength ="15">
                <label class="m-lab">Description</label>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="modal-body">
              <div class="col-md-6">
                    <label for="comment">Description</label>
                    <textarea class="form-control" name = "description" #taskDescription="ngModel" [(ngModel)]="taskdetails.description"  rows="5" id="comment"></textarea>
                  <!-- <input type="text" class="form-control m-f-c-mod" autocomplete="false" name="gstAddress" #gstAddress="ngModel" [(ngModel)]="userDetails.address.address1" required>
                  <label class="m-lab">Address</label>
                  <span class="text-danger" *ngIf="(gstAddress.errors?.required && gstAddress.touched) || (gstAddress.errors?.required && firstRegistrationForm.submitted)">Address is required</span> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
            <div class="col-md-12 text-center">
              <a class="skip-btn float-left" (click)="skip()">Cancel</a>
              <button class="btn btn-success btn-sm float-right" type="submit">
                <i class="fas fa-check-circle"></i>&nbsp;&nbsp;Save</button>
            </div>
          </div>
      </form>

    </div>

  </div>
</div>
