<div class="container-fluid">
  <div *ngIf="getproject; else elseBlock"class="row">
    <div *ngFor="let item of getproject;let i=index;" class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/report-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.description}}</p>
          <a [routerLink]="['/project',item.id]" class="btn btn-primary">Edit Project</a>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/report-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/report-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/report-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/report-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some sldkfja;sdlfkja;lsddfj;alsdkjf;adkjf;lajdsf;jds;fjquick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/report-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/report-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/report-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/report-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/report-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div> -->
  </div>
  <ng-template #elseBlock><h2>No Projects</h2></ng-template>
</div>
<div class="foreground-layer">
<a (click)="showModal()">  <img src="assets/images/plus.png" width="50" /></a>
</div>


<!-- MODAL FOR FIRST LOGIN -->

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-custom">
    <div class="modal-content">
      <div class="modal-head">
        <button type="button" class="close pull-right" (click)="hideChildModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="text-center">
        <h4 class="modal-title t-color text-primary">New Project</h4>
        <p class="mb-18">Create a new Project</p>
        <hr>
      </div>
      <form class="log-form-layout" (ngSubmit)="firstRegistrationForm.valid && saveProjectDetails()" #firstRegistrationForm="ngForm">
          <div class="row">
            <div class="modal-body">
            <div class="col-sm-3">
              <div class="inputBox-mod">
                <input type="text" class="form-control m-f-c-mod" autocomplete="false" name="name" #projectName="ngModel" [(ngModel)]="createproject.name" >
                <label class="m-lab">Name</label>
              </div>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="modal-body">
            <div class="col-sm-3">
              <div class="inputBox-mod">
                <input type="text" class="form-control m-f-c-mod" autocomplete="false" name="duration" #projectDuration="ngModel" [(ngModel)]="createproject.duration" >
                <label class="m-lab">Duration( In Days )</label>
              </div>
            </div>
          </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-6">
              <div class="inputBox-mod">
                <input type="text" class="form-control m-f-c-mod" autocomplete="false" name="projectDescription" #projectDescription="ngModel" [(ngModel)]="projectDescription"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength ="15">
                <label class="m-lab">Description</label>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="modal-body">
              <div class="col-md-6">
                    <label for="comment">Description</label>
                    <textarea class="form-control" name = "description" #projectDescription="ngModel" [(ngModel)]="createproject.description"  rows="5" id="comment"></textarea>
                  <!-- <input type="text" class="form-control m-f-c-mod" autocomplete="false" name="gstAddress" #gstAddress="ngModel" [(ngModel)]="userDetails.address.address1" required>
                  <label class="m-lab">Address</label>
                  <span class="text-danger" *ngIf="(gstAddress.errors?.required && gstAddress.touched) || (gstAddress.errors?.required && firstRegistrationForm.submitted)">Address is required</span> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
            </div>
            <div class="col-md-12 text-center">
              <a class="skip-btn float-left" (click)="skip()">Cancel</a>
              <button class="btn btn-success btn-sm float-right" type="submit">
                <i class="fas fa-check-circle"></i>&nbsp;&nbsp;Save</button>
            </div>
          </div>
      </form>

    </div>

  </div>
</div>
