@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');


.btn-circle {

  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.foreground-layer {
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  height: 50px;
}
.login-wrap
{
    margin:0;
    width:100%;
    height:100%;
    background:url(/assets/images/background/log-bg.jpg) 0 0/cover no-repeat;
    background-position: left;
    background-size: cover;
}
.container-login
{
    height:inherit;
}
.info-block
{
    height:inherit;
    display:grid;
}
.font-13
{
  font-size: 13px !important;
}

.login-block
{
  position: absolute;
  right: 0;
  height: 100%;
  width:380px;
  background: #fff;
  padding: 80px 50px 0px 50px;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none !important;
}

.info-content
{
    position: absolute;
    height: 100%;
    width: 100%;
}

.title
{
    font-size:17px;
}

.m-f-c
{
    padding: 1.6rem .75rem 1.2rem .75rem !important;
}

.log-form-layout
{
    width: 100%;
    padding-top: 52px;
}
.info-content
{
    padding: 10% 40% 20% 10%;
}
.info-content div img
{
    width:200px;
}
.info-content h1
{
    font-weight:500;
}
.info-content h1 span
{
    font-weight:400;
    font-size:26px;
}
.inputBox
{
    margin-bottom: 40px;
}

.inputBox span
{
    position: absolute;
    margin-top: -25px;
    padding: 0 .75rem;
    font-size:12px;
}

.inputBox input
{
    width:100%;
    margin-bottom:30px;
    background-color:#fff !important;
}
.inputBox label
{
    position: absolute;
    padding : 0 .75rem;
    margin-top: -65px;
    pointer-events:none;
    transition: .5s;
    font-size: 14px !important;
}
.form-control:focus
{
    color: #495057;
    background-color: #fff;
    border-color: #000 !important;
    outline: 0;
    box-shadow: none !important;
}
.inputBox input:focus ~ label,
.inputBox input:valid ~ label,
.inputBox input:active ~ label
{
    margin-top: -86px;
    font-size:12px;
    padding : 0 .35rem;
    margin-left:.30rem;
    background:#fff;
}
.inputBox input:-webkit-autofill ~ label
{
    margin-top: -86px;
    font-size:12px;
    padding : 0 .35rem;
    margin-left:.30rem;
    background-color:#fff !important;
}
.f-pas
{
    font-size:14px;
}
.log-btn
{
    width: 100% !important;
    padding: 10px !important;
}
input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected
{
    background-color:#fff !important;
}

.head-content
{
  display: none;
  text-align: center;
  padding-bottom: 80px;
}
.head-content img
{
  width:40%;
}

/* MODAL CSS */
.m-f-c-mod
{
    padding: 10px !important;
    font-size: 13px !important;
}
.inputBox-mod
{
    margin-bottom: 40px;
}

.inputBox-mod span
{
    position: absolute;
    margin-top: -25px;
    padding: 0 .75rem;
    font-size:12px;
}

.inputBox-mod input, .inputBox-mod select
{
    width:100%;
    margin-bottom:30px;
    background-color:#fff !important;
}
.inputBox-mod
{

}
.inputBox-mod label
{
    position: absolute;
    padding : 0 .75rem;
    margin-top: -78px;
    font-size:12px;
    padding : 0 .35rem;
    margin-left:.30rem;
    background:#fff;
    pointer-events:none;
    transition: .5s;
}

.t-color
{
  color:#003343;
}
.modal-head
{
  padding:15px;
}
.modal-custom
{
  margin:1% 10% 5% 10%;
  max-width:100%;
}
.modal-body
{
  padding: 2rem;
}
.skip-btn
{
  padding: 5px 30px;
  margin: 6px;
  border: 1px solid #000;
  border-radius: .125rem;
}

/* MEDIA CSS */

@media only screen and (max-width:996px)
{
  .head-content
  {
    display: block;
  }
  .info-content
  {
    display: none;
  }
  .login-block
  {
    width:100%;
    padding: 12% 20%;
  }
  .title
  {
    text-align: center;
  }
}

@media only screen and (max-width:640px)
{
  .head-content
  {
    display: block;
    padding-bottom: 30px;
  }
  .info-content
  {
    display: none;
  }
  .login-block
  {
    width:100%;
    padding: 8% 10%;
  }
  .title
  {
    text-align: center;
  }
  .d-m
  {
    display: none;
  }
}
