
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.clearfix
{
  padding: 20px 0px;
}

.top-container {
  height: 70px;
  padding: 10px 20px;
}

.header {
  padding: 10px 96px;
  background: #fff;
  color: #f1f1f1;
  z-index:1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.m-l-10
{
  margin-left: 1rem;
  margin-right: 0rem;
}
.btn-m-0
{
  margin: 0;
}
.show-brand, .show-btn
{
  visibility: hidden;
}
.show-btn
{
  background: #44a08d !important;
  text-transform: none;
  letter-spacing: 1px;
}
.show-brand
{
  padding: 2px;
}
.banner-bg
{
  background-image: url("/assets/images/background/banner.jpg");
  height: 100%; 
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index:1;
}
.logo-nav
{
  float: left;
  font-size: 26px;
  font-weight: 400;
  width: 80px;
  color: white;
  padding: 2px;
}
.b-freeTrial
{
  background: #44a08d !important;
  float: right;
  text-transform: none;
  letter-spacing: 1px;
  margin-top: .5rem;
}
.b-login
{
  float: right;
  text-transform: none;
  letter-spacing: 1px;
  margin-top: .5rem;
  background: #fff0;
  border: 1px solid white;
  color:white;
}
.b-login:hover
{
  background: #fff;
  color: #093637;
}
/* Mobile */
.mobile-nav
{
  display: none;
  z-index:1;
}
.bg-custom
{
  background: rgba(0,0,0,.96);
}
.scroll-btn
{
  width: 140px;
  text-align: right;
}
.main-menu{width: 100%; height: 100%; opacity: 0; visibility: hidden;}
.nav-open .main-menu {opacity: 1; visibility: visible; background-color: #093637f0; }
.main-menu .nav li a{color:#FFF; }
.main-menu .nav li{
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -moz-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -o-animation-timing-function: cubic-bezier(.45,.005,0,1);
    animation-timing-function: cubic-bezier(.45,.005,0,1);
}
.nav-open .main-menu .nav li{
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform .2s,opacity .2s;
    transition: transform .2s,opacity .2s;
}
.main-menu .nav li.delay-1{-webkit-transition-delay:0.1s; -moz-transition-delay:0.1s; -ms-transition-delay:0.1s; -o-transition-delay:0.1s; transition-delay:0.1s; }
.main-menu .nav li.delay-2{-webkit-transition-delay:0.2s; -moz-transition-delay:0.2s; -ms-transition-delay:0.2s; -o-transition-delay:0.2s; transition-delay:0.2s; }
.main-menu .nav li.delay-3{-webkit-transition-delay:0.3s; -moz-transition-delay:0.3s; -ms-transition-delay:0.3s; -o-transition-delay:0.3s; transition-delay:0.3s; }
.main-menu .nav li.delay-4{-webkit-transition-delay:0.4s; -moz-transition-delay:0.4s; -ms-transition-delay:0.4s; -o-transition-delay:0.4s; transition-delay:0.4s; }
.main-menu .nav li.delay-5{-webkit-transition-delay:0.5s; -moz-transition-delay:0.5s; -ms-transition-delay:0.5s; -o-transition-delay:0.5s; transition-delay:0.5s; }
.main-menu .nav li.delay-6{-webkit-transition-delay:0.6s; -moz-transition-delay:0.6s; -ms-transition-delay:0.6s; -o-transition-delay:0.6s; transition-delay:0.6s; }
.main-menu .nav li.delay-7{-webkit-transition-delay:0.7s; -moz-transition-delay:0.7s; -ms-transition-delay:0.7s; -o-transition-delay:0.7s; transition-delay:0.7s; }
.main-menu .nav li.delay-8{-webkit-transition-delay:0.8s; -moz-transition-delay:0.8s; -ms-transition-delay:0.8s; -o-transition-delay:0.8s; transition-delay:0.8s; }
.main-menu .nav li.delay-9{-webkit-transition-delay:0.9s; -moz-transition-delay:0.9s; -ms-transition-delay:0.9s; -o-transition-delay:0.9s; transition-delay:0.9s; }

.nav-button{position:relative; z-index:1111;  height:42px; display:block; width:50px; padding:12px; }
.nav-button #nav-icon3{width:24px;height:22px;display:inline-block;position:relative;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer;}
.nav-button #nav-icon3 span{display:block;position:absolute;height:3px;width:100%;background:#FFFFFF;border-radius:9px;opacity:1;left:0;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out}
.nav-button #nav-icon3 span:nth-child(1){top:0}
.nav-button #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3){top:7px}
.nav-button #nav-icon3 span:nth-child(4){top:14px}
.nav-open #nav-icon3 span:nth-child(1){top:9px;width:0;left:50%}
.nav-open #nav-icon3 span:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.nav-open #nav-icon3 span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.nav-open #nav-icon3 span:nth-child(4){top:9px;width:0;left:50%}

.flex-center{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;height:100%}

.banner-content
{
  height: 100%;
}
.banner-s-cont
{
  display: inline-flex;
}
.banner-text, .banner-img
{
  width:50%;
}
.banner-img
{
  float: right;
}
.banner-text
{
  padding: 15% 10%;
}
.banner-text p
{
  text-align: justify;
}
.banner-t-h
{
  text-transform: uppercase;
  font-weight: bold;
}
.banner-img img
{
  width: 100%;
  padding: 10% 15%;
}
section
{
  padding: 80px 0px;
  z-index:2;
}
.why-icon
{
  text-align: center;
  height: 200px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.why-icon img
{
  height: 100%;
}
.card-body p
{
  text-align: justify;
}
.pro-block-x
{
  background: #ffffff;
  padding: 20px;
}
.pro-block-y
{
  background: #ffffff00;
  padding: 20px;
}
.pro-icon img
{
  padding: 10px 40px;
  height: 100px;
}

.feature-sec
{
  background: url('/assets/images/background/log-bg.jpg');background-attachment: fixed;background-position: right;background-size: cover;
}

.feature-sec h6
{
  font-weight: bold;
}

.feature-sec hr
{
  border-color: #ccc;
}
.feature-sec i
{
  font-size: 80px;
}

.feature-sec p
{
  text-align: center;
}

@media screen and (max-width: 992px)
{
  #hideTopNav
  {
    display: none;
  }
  #myHeader
  {
    display: none;
  }
  .mobile-nav
  {
    display: block;
  }
  .banner-img
  {
    display: none;
  }
  .banner-text
  {
    width: 100%;
    padding: 50% 15%;
    text-align: center;
  }

  .banner-t-h
  {
    text-align: center;
    line-height: 40px;
  }
}

@media screen and (max-width: 467px)
{
  .b1, .b2
  {
    width: 100%;
  }
}