<div class="container">
  <div class="jumbotron">
    <h1 style = "text-align:center;">{{taskdetail?.name}}</h1>
    <div class="panel panel-primary">
      <div class="panel-heading">Task Details</div>
      <div class="panel-body">
        <h3>{{taskdetail?.description}}</h3>
      </div>
    </div>
  </div>

  <form class="log-form-layout" (ngSubmit)="firstRegistrationForm.valid && saveTaskDetail()" #firstRegistrationForm="ngForm">
    <div class='form-group'>
      <label for="comment">Name</label>
      <input type="text" class="form-control m-f-c-mod" autocomplete="false" name="name" #taskName="ngModel" [(ngModel)]="taskdetail.name" >
      <label for="comment">Duration</label>
      <input type="text" class="form-control m-f-c-mod" autocomplete="false" name="enddate" #taskName="ngModel" [(ngModel)]="taskdetail.duration" >
      <label for="comment">Description</label>
      <textarea class="form-control" name = "description" #taskDescription="ngModel" [(ngModel)]="taskdetail.description"  rows="5" id="comment"></textarea>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
      <div class="col-md-12 text-center">
        <a class="skip-btn float-left" (click)="skipp()">Cancel</a>

        <button class="btn btn-success btn-sm float-right" type="submit">
          <i class="fas fa-check-circle"></i>&nbsp;&nbsp;Save</button>
      </div>
    </div>
  </form>
  <button style="margin-left:42%" class="btn btn-danger" (click)=delete()>
    <i class="fas"></i>&nbsp;&nbsp;Delete</button>
</div>
